.App {
  background-color: white;
  height: 100vh;
}
#appNavs > .nav-item > .nav-link {
  color: rgb(219, 69, 94);
  font-size: 1.1em;
  margin-top: 1em;
}
#appNavs > .nav-item > .nav-link :hover {
  font-size: 1.3em;
}
#new-user {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}
